body {
    background-color: beige;
}
body,
html {
    height: 100%;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.flex .box {
    height: 800px;
    width: 600px;
    background-color: white;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex .box h1 {
    font-family: 'Licorice', cursive;
    margin: 0;
    font-size: 80px;
}
.flex .box h2,h3,i {
    font-family: 'Mukta', sans-serif;
}